div{
    margin: 10px;
    padding: 5px;
}
#father{
    border: 1px #000 solid;
}
.layer-01{
    border: 1px #F000 dashed;
}
.layer-02{
    border: 1px #F000 dashed;
}
.layer-03{
    border: 1px #F000 dashed;
}
.layer-04{
    border: 1px #F000 dashed;
    font-size: 12px;
    line-height: 23px;
}